@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 245, 255, 254;
    --background-start-rgb: 0, 0, 0;
    --background: rgb(12, 23, 38);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

header {
  background: linear-gradient(0.25turn, rgba(37, 62, 95, 0.37), rgba(27, 54, 91, 0.17));
}
